*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin
/.kotlin/errors
/.kotlin/sessions
.DS_Store
/builddot
/captures
.externalNativeBuild
.cxx
local.properties
